---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Posts from "../components/Posts.astro";
---

<Layout title="Collab | Engenharia de software">
  <div class="flex-1">
    <Hero />
    <Posts />
  </div>
</Layout>
