<footer
  class="footer flex items-center p-4 md:px-16 bg-neutral text-neutral-content"
>
  <div
    class="items-center w-full flex flex-wrap justify-between gap-8 grid-flow-col"
  >
    <div class="flex items-center justify-center gap-4">
      <p>Carefully crafted by</p>
      <a href="http://github.com/joevtap" target="_blank">
        <svg
          height="23"
          viewBox="-1 0 86 32"
          fill="none"
          xmlns="http://www.w2.org/2000/svg"
        >
          <path d="M-1 28V0H28V4H32V8H28V4H4V28H8V32H4V28H0Z" fill="#FFF8EA"
          ></path>
          <path d="M31 12V32H12V28H28V12H32Z" fill="#FFF8EA"></path>
          <path
            d="M39.4311 19.4335H38V17.3734H45.1875V19.4335H42.7564V31.794H40.4311V19.4335Z"
            fill="#FFF7EA"></path>
          <path
            d="M48.5919 32C48.4504 32 47.5766 31.6841 46.9706 31.0524C46.3646 30.4206 46.0616 29.5279 46.0616 28.3742V20.7931C46.0616 19.6395 46.3646 18.7468 46.9706 18.115C47.5766 17.4833 48.4504 17.1674 49.5919 17.1674C50.7335 17.1674 51.6073 17.4833 52.2133 18.115C52.8193 18.7468 53.1223 19.6395 53.1223 20.7931V28.3742C53.1223 29.5279 52.8193 30.4206 52.2133 31.0524C51.6073 31.6841 50.7335 32 49.5919 32ZM49.5919 29.9399C50.3953 29.9399 50.7969 29.4661 50.7969 28.5185V20.6489C50.7969 19.7013 50.3953 19.2275 49.5919 19.2275C48.7886 19.2275 48.387 19.7013 48.387 20.6489V28.5185C48.387 29.4661 48.7886 29.9399 49.5919 29.9399Z"
            fill="#FFF7EA"></path>
          <path
            d="M53.6949 17.3734H58.1406C59.3385 17.3734 60.2123 17.6481 60.7619 18.1974C61.3116 18.733 61.5864 19.5639 61.5864 20.6901V21.576C61.5864 23.073 61.079 24.0206 60.0643 24.4189V24.4601C60.628 24.6249 61.0226 24.9614 61.2481 25.4695C61.4877 25.9777 61.6075 26.6575 61.6075 27.509V30.0429C61.6075 30.4549 61.6216 30.7914 61.6498 31.0524C61.678 31.2996 61.7484 31.5468 61.8612 31.794H59.4935C59.409 31.5605 59.3526 31.3408 59.3244 31.1348C59.2962 30.9288 59.2822 30.5579 59.2822 30.0223V27.3854C59.2822 26.7262 59.1694 26.2661 58.9439 26.0051C58.7325 25.7442 58.3591 25.6137 57.8235 25.6137H57.0202V31.794H54.6949V17.3734ZM57.8658 23.5536C58.3309 23.5536 58.6762 23.4369 58.9016 23.2034C59.1412 22.97 59.261 22.5785 59.261 22.0292V20.9167C59.261 20.3949 59.1624 20.0172 58.9651 19.7837C58.7819 19.5502 58.4859 19.4335 58.0772 19.4335H57.0202V23.5536H57.8658Z"
            fill="#FFF7EA"></path>
          <path
            d="M62.2209 17.3734H66.6667C67.8646 17.3734 68.7383 17.6481 69.288 18.1974C69.8376 18.733 70.1124 19.5639 70.1124 20.6901V21.576C70.1124 23.073 69.6051 24.0206 68.5904 24.4189V24.4601C69.1541 24.6249 69.5487 24.9614 69.7742 25.4695C70.0138 25.9777 70.1336 26.6575 70.1336 27.509V30.0429C70.1336 30.4549 70.1476 30.7914 70.1758 31.0524C70.204 31.2996 70.2745 31.5468 70.3872 31.794H68.0196C67.935 31.5605 67.8787 31.3408 67.8505 31.1348C67.8223 30.9288 67.8082 30.5579 67.8082 30.0223V27.3854C67.8082 26.7262 67.6954 26.2661 67.47 26.0051C67.2586 25.7442 66.8851 25.6137 66.3496 25.6137H65.5463V31.794H63.2209V17.3734ZM66.3918 23.5536C66.8569 23.5536 67.2022 23.4369 67.4277 23.2034C67.6673 22.97 67.7871 22.5785 67.7871 22.0292V20.9167C67.7871 20.3949 67.6884 20.0172 67.4911 19.7837C67.3079 19.5502 67.0119 19.4335 66.6032 19.4335H65.5463V23.5536H66.3918Z"
            fill="#FFF7EA"></path>
          <path
            d="M70.7469 17.3734H78.0888V19.4335H74.0723V23.2446H77.2644V25.3047H74.0723V29.7339H78.0888V31.794H71.7469V17.3734Z"
            fill="#FFF7EA"></path>
          <path
            d="M81.4908 32C81.3634 32 80.5107 31.691 79.9329 31.073C79.3551 30.4412 79.0662 29.5416 79.0662 28.3742V27.5502H81.2647V28.5391C81.2647 29.473 81.6664 29.9399 82.4697 29.9399C82.8643 29.9399 83.1602 29.83 83.3575 29.6103C83.5689 29.3768 83.6746 29.006 83.6746 28.4979C83.6746 27.8936 83.5337 27.3648 83.2518 26.9116C82.97 26.4446 82.4485 25.8884 81.6875 25.2429C80.7292 24.4189 80.0598 23.6773 79.6792 23.018C79.2987 22.3451 79.1085 21.5897 79.1085 20.7519C79.1085 19.612 79.4044 18.733 79.9963 18.115C80.5883 17.4833 81.4479 17.1674 82.5754 17.1674C83.6887 17.1674 84.5273 17.4833 85.091 18.115C85.6688 18.733 85.9577 19.6258 85.9577 20.7931V21.3906H83.7592V20.6489C83.7592 20.1545 83.6605 19.7974 83.4632 19.5777C83.2659 19.3442 82.977 19.2275 82.5965 19.2275C81.8214 19.2275 81.4338 19.6876 81.4338 20.6077C81.4338 21.1296 81.5748 21.6172 81.8566 22.0704C82.1526 22.5236 82.6811 23.073 83.4421 23.7185C84.4145 24.5425 85.084 25.291 85.4504 25.9639C85.8168 26.6369 86 27.4266 86 28.333C86 29.5142 85.697 30.4206 85.091 31.0524C84.4991 31.6841 83.6324 32 82.4908 32Z"
            fill="#FFF7EA"></path>
          <path
            d="M38.0781 14.709C38.6553 14.709 38.296 14.6815 38 14.6266V12.5665C38.2255 12.6215 38.4792 12.6489 38.761 12.6489C39.2261 12.6489 39.5714 12.5391 39.7969 12.3193C40.0224 12.0858 40.1351 11.7356 40.1351 11.2687V0.206008H42.4605V11.2069C42.4605 12.388 42.1786 13.267 41.6149 13.8438C41.0652 14.4206 40.2197 14.709 39.0781 14.709Z"
            fill="#FFF7EA"></path>
          <path
            d="M46.4843 14.8326C46.3427 14.8326 45.4689 14.5167 44.8629 13.885C44.2569 13.2532 43.9539 12.3605 43.9539 11.2069V3.62575C43.9539 2.4721 44.2569 1.5794 44.8629 0.94764C45.4689 0.31588 46.3427 0 47.4843 0C48.6258 0 49.4996 0.31588 50.1056 0.94764C50.7116 1.5794 51.0146 2.4721 51.0146 3.62575V11.2069C51.0146 12.3605 50.7116 13.2532 50.1056 13.885C49.4996 14.5167 48.6258 14.8326 47.4843 14.8326ZM47.4843 12.7725C48.2876 12.7725 48.6892 12.2987 48.6892 11.3511V3.48155C48.6892 2.53391 48.2876 2.06009 47.4843 2.06009C46.681 2.06009 46.2793 2.53391 46.2793 3.48155V11.3511C46.2793 12.2987 46.681 12.7725 47.4843 12.7725Z"
            fill="#FFF7EA"></path>
          <path
            d="M51.5872 0.206008H58.9291V2.26609H54.9125V6.07725H58.1046V8.13734H54.9125V12.5665H58.9291V14.6266H52.5872V0.206008Z"
            fill="#FFF7EA"></path>
          <path
            d="M59.2668 0.206008H62.5922V12.5665H66.4184V14.6266H60.2668V0.206008Z"
            fill="#FFF7EA"></path>
        </svg>
      </a>
    </div>

    <div class="flex items-center justify-center gap-4">
      <p>Powered by</p>
      <a href="http://astro.build" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 2712 894"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M445.432 22.9832C452.722 32.0324 456.439 44.2432 463.873 68.6647L626.28 602.176C566.233 571.026 500.957 548.56 432.114 536.439L326.37 179.099C324.64 173.252 319.27 169.241 313.173 169.241C307.06 169.241 301.679 173.273 299.963 179.14L195.5 536.259C126.337 548.325 60.7627 570.832 0.458984 602.095L163.664 68.5412C171.121 44.1617 174.85 31.9718 182.139 22.9393C188.575 14.9651 196.946 8.77213 206.453 4.95048C217.223 0.621582 229.97 0.621582 255.465 0.621582H372.034C397.562 0.621582 410.326 0.621582 421.106 4.95951C430.622 8.78908 438.998 14.9946 445.432 22.9832Z"
            fill="white"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M464.866 627.566C438.093 650.459 384.655 666.073 323.1 666.073C247.551 666.073 184.228 642.553 167.426 610.921C161.419 629.05 160.071 649.798 160.071 663.052C160.071 663.052 156.114 728.134 201.38 773.401C201.38 749.896 220.434 730.842 243.939 730.842C284.226 730.842 284.18 765.99 284.143 794.505C284.142 795.36 284.141 796.209 284.141 797.051C284.141 840.333 310.594 877.436 348.215 893.075C342.596 881.518 339.444 868.539 339.444 854.825C339.444 813.545 363.679 798.174 391.844 780.311C414.255 766.098 439.154 750.307 456.314 718.629C465.268 702.1 470.352 683.17 470.352 663.052C470.352 650.68 468.429 638.757 464.866 627.566Z"
            fill="white"></path>
          <path
            d="M999.147 593.833C1067.08 593.833 1118.03 569.665 1138.93 528.516C1138.93 548.111 1140.23 568.36 1143.5 584.036H1255.19C1249.97 561.173 1247.35 529.82 1247.35 488.671V388.081C1247.35 292.717 1191.18 247.648 1066.42 247.648C957.344 247.648 884.188 292.717 875.696 366.527H991.962C995.881 334.521 1022.66 316.885 1066.42 316.885C1109.53 316.885 1133.7 334.521 1133.7 371.1V380.896L1015.48 391.347C957.997 397.227 925.338 407.023 902.476 422.7C878.309 439.028 865.898 463.851 865.898 494.549C865.898 555.948 916.847 593.833 999.147 593.833ZM1042.26 525.902C1004.37 525.902 981.511 510.88 981.511 486.712C981.511 461.892 1000.45 448.827 1048.14 442.949L1135.66 433.805V453.4C1135.66 497.163 1097.78 525.902 1042.26 525.902Z"
            fill="white"></path>
          <path
            d="M1490.77 593.833C1604.42 593.833 1662.56 551.377 1662.56 482.793C1662.56 425.966 1629.9 394.613 1550.87 384.162L1452.23 373.059C1424.15 369.138 1412.39 361.953 1412.39 346.277C1412.39 327.336 1431.33 318.844 1474.44 318.844C1533.88 318.844 1575.03 332.561 1608.35 359.342L1661.25 306.434C1624.67 268.55 1561.32 247.648 1482.93 247.648C1372.55 247.648 1311.15 286.838 1311.15 352.809C1311.15 410.289 1349.03 442.295 1427.41 452.745L1516.25 463.196C1551.52 467.769 1561.97 474.302 1561.97 491.283C1561.97 510.88 1542.37 521.331 1496.65 521.331C1428.72 521.331 1383 503.041 1352.3 469.076L1292.2 518.717C1332.05 568.36 1399.98 593.833 1490.77 593.833Z"
            fill="white"></path>
          <path
            d="M1754.78 331.255V469.076C1754.78 550.07 1800.5 591.221 1898.48 591.221C1928.53 591.221 1952.04 587.955 1974.25 581.423V496.508C1962.49 499.122 1948.12 501.734 1929.18 501.734C1888.03 501.734 1867.78 483.446 1867.78 444.908V331.255H1974.9V257.445H1867.78V137.914L1754.78 179.717V257.445H1681.62V331.255H1754.78Z"
            fill="white"></path>
          <path
            d="M2137.13 257.445H2033.93V584.036H2146.93V461.892C2146.93 426.618 2154.77 394.613 2176.33 374.364C2193.31 358.687 2217.48 350.198 2251.44 350.198C2263.85 350.198 2273.65 351.502 2284.75 352.809V250.26C2277.57 248.954 2272.34 248.954 2263.2 248.954C2198.53 248.954 2154.77 286.185 2137.13 346.932V257.445Z"
            fill="white"></path>
          <path
            d="M2508.05 593.833C2627.59 593.833 2711.85 530.475 2711.85 420.088C2711.85 310.353 2627.59 247.648 2508.05 247.648C2387.87 247.648 2303.61 310.353 2303.61 420.088C2303.61 530.475 2387.87 593.833 2508.05 593.833ZM2508.05 518.717C2453.19 518.717 2418.57 483.446 2418.57 420.088C2418.57 356.728 2453.19 322.763 2508.05 322.763C2562.27 322.763 2596.89 356.728 2596.89 420.088C2596.89 483.446 2562.27 518.717 2508.05 518.717Z"
            fill="white"></path>
        </svg>
      </a>
    </div>
  </div>
  <style>
    path {
      fill: hsl(var(--nc));
    }
  </style>
</footer>
