<main
  class="w-full p-6 flex items-center justify-center flex-col h-[680px] bg-base-200"
>
  <div class="prose">
    <h1 class="text-center">Boas vindas ao Collab</h1>
    <p class="text-center text-lg">
      O blog colaborativo da turma de Engenharia de Softaware II - UNIFEI 2022.2
    </p>
  </div>
  <div class="mt-8 flex gap-4 flex-col sm:flex-row">
    <a href="#posts" class="btn btn-primary">Postagens</a>
    <a href="/psimodels/contributors" class="btn btn-primary btn-outline"
      >Pessoas Contribuidoras</a
    >
  </div>
</main>
