---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
  goBack?: boolean;
}

const { goBack, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR" data-theme="lofi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="robots" href="/robots.txt" />
    <meta name="title" content="Engsoft Collab" />
    <meta
      name="description"
      content="O blog colaborativo da turma de Engenharia de Softaware II - UNIFEI 2022.2. Posts criados pelas pessoas estudantes."
    />
    <meta
      name="keywords"
      content="blog, engenharia de software, unifei, colaborativo, open-source"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Portuguese" />
    <meta
      name="author"
      content="Joel Vitor Torres (joelvitortorres@gmail.com)"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col">
    <Navbar goBack={goBack} />
    <slot />
    <Footer />
    <style is:global>
      body,
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
